name: Type check

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Project
        run: |
          uv sync --frozen --group type-check
          echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - name: Run Pyright
        run: |
          uv run pyright .
